<!-- FILEPATH: /e:/ITI/Trails/Angular/ecommerce-project/src/app/Components/side-menu/side-menu.component.html -->

<div class="container">

  <div class="col-md-9">
    <!-- Contenu principal -->
    <h3>Bienvenue sur le tableau de bord</h3>
    <!-- Ajoutez votre contenu principal ici -->
  </div>
  <div class="col-md-9">
    <!-- Barre latérale -->
    <h5>Menu du tableau de bord</h5>
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#">Vue d'ensemble</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Rapports</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Analytique</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Exporter</a>
      </li>
    </ul>
    <hr class="d-sm-none">

  </div>
</div>
